$text-color: #fff;
$sub-text-color: #ccc;
$dark-text-color: #333;

$rich-black: #051923;
$prussian-blue: #003554;
$picton-blue: #00A6FB;
$steel-blue: #0582ca;
$lapis-lazuli: #006494;

$background-color: $rich-black;
$song-background-color: $prussian-blue;
$button-color: $picton-blue;
$button-hover-color: $steel-blue;
$toggle-enabled-color: $button-color;
$letter-scroller-background-color: $prussian-blue;