$text-color: #fff;
$sub-text-color: #ccc;
$dark-text-color: #333;

$rich-black: #051923;
$prussian-blue: #003554;
$picton-blue: #00A6FB;
$picton-blue-translucent: #00A6FBbb;
$steel-blue: #0582ca;
$steel-blue-translucent: #0582cabb;
$lapis-lazuli: #006494;

$background-color: $rich-black;
$song-background-color: $prussian-blue;
$button-color: $picton-blue;
$button-hover-color: $steel-blue;
$button-disabled-color: $picton-blue-translucent;
$secondary-button-color: #184457; // deep slate-teal
$secondary-button-hover-color: #15506B; // a step darker for hover
$secondary-button-disabled-color:  #184457bb;
$toggle-enabled-color: $button-color;
$letter-scroller-background-color: $prussian-blue;