# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# builds
.next
.turbo
out
build
dist

# testing
coverage
.eslintcache

# env/config
.env
.env.local
.env.*.local
.env.test
.env.production
.vercel

# editors/IDE
.DS_Store
.idea
.vscode

# certs/keys
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# misc
*.tsbuildinfo
next-env.d.ts
