.artistSection {
  padding: 0 toRem(8) toRem(4);
  // border-bottom: toRem(1) solid #ccc;
  list-style: none;
}

.artistName {
  font-size: toRem(18);
  font-weight: bold;
  position: sticky;
  top: toRem(224);
  background-color: #fff;
  padding: toRem(8) 0 toRem(4);
}

.count {
  font-size: toRem(14);
  color: #888;
}

.songList {
  display: flex;
  flex-direction: column;
  gap: toRem(8);
  padding: 0;
  list-style: none;
}