.dateSection {
  padding: 0 toRem(8) toRem(12);
  border-bottom: toRem(1) solid #ccc;
  list-style: none;
}

.date {
  font-size: toRem(18);
  font-weight: bold;
  position: sticky;
  top: toRem(118);
  background-color: #fff;
  padding: toRem(8) 0 toRem(4);
  z-index: 1;
}

.songList {
  display: flex;
  flex-direction: column;
  gap: toRem(8);
  padding: 0;
  list-style: none;
}