.modal {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 0;
  top: 100%;
  right: 0;
  min-width: toRem(248);
  z-index: 1000;
}

.formSection {
  padding: toRem(16);
  background-color: #fff;
  border-radius: toRem(8);
  box-shadow: 0 toRem(2) toRem(4) rgba(0, 0, 0, 0.1);
  border: toRem(1) solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: toRem(4);
}

.formLabel {
  display: block;
  margin-bottom: toRem(4);
  font-size: toRem(14);
  font-weight: 500;
  color: #374151;
}

.textInput {
  width: 100%;
  padding: toRem(4) toRem(8);
  border: toRem(1) solid #d1d5db;
  border-radius: toRem(4);
  font-size: toRem(18);
  box-sizing: border-box;
}

.button {
  padding: toRem(4) toRem(8);
  border: none;
  border-radius: toRem(4);
  font-size: toRem(16);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  flex: 1;
  
  &:disabled {
    opacity: .8;
    cursor: inherit;

    &:hover {
      background-color: inherit;
    }
  }
}

.submitButton {
  @extend .button;
  background-color: #0D2A36;
  color: #fff;

  &:hover {
    background-color: #1a526a;

    &:disabled {
      background-color: #0D2A36;
    }
  }
}

.clearButton {
  @extend .button;
  background-color: #a9bec7;
  color: #14123c;
  
  &:hover {
    background-color: #8ea5af;
    
    &:disabled {
      background-color: #a9bec7;
    }
  }
}

.buttonRow {
  display: flex;
  gap: toRem(4);
}

.error {
  color: #cc0001;
}

.share {
  @extend .clearButton;
  padding: toRem(8);
}

.copyButtonText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shareUrl {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: toRem(195);
  text-align: left;
}

.pinWarning {
  color: #000;
  text-align: center;
}

.goToList {
  @extend .share;
  @extend .copyButtonText;
  text-decoration: none;
}
