.artistList {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: toRem(64) 0 0;
  width: 100%;
  list-style: none;
  background-color: $background-color;
}

.scrollLetters {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: toRem(100);
  background-color: $letter-scroller-background-color;
  z-index: 1000;

  @media (min-width: toRem(1232)) {
    right: calc((100vw - toRem(1200)) / 2 - toRem(16));
  }
}

.scrollLetter {
  appearance: none;
  border: none;
  background: none;
  color: $text-color;
  font-size: toRem(12);

  &:first-child {
    padding-top: toRem(4);
  }

  &:last-child {
    padding-bottom: toRem(4);
  }
}

.fab {
  position: fixed;
  bottom: toRem(24);
  right: toRem(28);
  width: toRem(56);
  height: toRem(56);
  border-radius: 50%;
  background-color: $button-color;
  box-shadow: 0 toRem(2) toRem(4) rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  appearance: none;
  border: none;
  color: $text-color;

  &:hover {
    background-color: $button-hover-color;
  }
}
