.filters {
  background-color: #fff;
  flex: 1;
  position: sticky;
  top: toRem(64);
  z-index: 1;
  padding-top: toRem(16);
}

.searchBox {
  font-size: toRem(18);
  width: 100%;
}

.artistList {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: toRem(64) 0 0;
  width: 100%;
  list-style: none;
}

.settingsPanelToggle {
  margin-top: toRem(8);
  background-color: #0D2A36;
  color: white;
  border: none;
  padding: toRem(8) toRem(12);
  border-radius: toRem(4);
  width: 100%;
  cursor: pointer;
}

.settingsPanel {
  display: flex;
  justify-content: space-around;
  margin: toRem(8) 0;
}

.settingsButton {
  display: flex;
  align-items: center;
  background: none;
  border: toRem(1) solid #000;
  border-radius: toRem(100);
  cursor: pointer;
  font-size: toRem(16);
  gap: toRem(2);
  transition: background-color 0.3s, color 0.3s;
  color: #000;
}

.scrollLetters {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: toRem(-18);
  top: toRem(80);
}

.scrollLetter {
  appearance: none;
  border: none;
  background: none;
  color: #000;
}

.noGap {
  gap: 0;
  padding: toRem(1) toRem(8);

  * + * {
    margin-left: toRem(-4);
  }
}

.enabled {
  background-color: #00000022;
}

.recentlyAdded {
  gap: toRem(8);
}