.heading {
  width: 100%;
  background-color: #fff;
  z-index: 100;
  padding-top: toRem(16);
  position: sticky;
  top: toRem(64);
  max-lines: 1;
  text-overflow: clip;
  --webkit-line-clamp: 1;
}

.historyList {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: toRem(64) 0 0;
  list-style: none;
  gap: toRem(8);

  li:last-child {
    margin-bottom: toRem(16);
  }
}
