.songCard {
  border-radius: toRem(6);
  padding: 0 toRem(4);
  border: toRem(1) solid #888;
  display: flex;
  flex-direction: column;
  gap: toRem(2);
  width: calc(100% - toRem(48));
  background-color: $song-background-color;
  color: inherit;
  text-align: left;
  margin: 0 auto;
}

.songCard:focus-visible {
  outline: toRem(2) solid #0d2a36;
  outline-offset: toRem(2);
}

.deleteButton {
  color: #ed2939fa;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  padding: toRem(4);
}

.songTitle {
  font-size: toRem(16);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.songMeta {
  font-size: toRem(14);
  display: flex;
  align-items: center;
  color: #ccc;
}
