.songList {
  display: flex;
  flex-direction: column;
  max-height: calc(100dvh - toRem(80));
}

.filters {
  background-color: #fff;
  flex: 1;
}

.searchBox {
  font-size: toRem(18);
  width: 100%;
}

.artistList {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  padding: 0;
  list-style: none;
}

.settingsPanelToggle {
  margin-top: toRem(8);
  background-color: #403b8a;
  color: white;
  border: none;
  padding: toRem(8) toRem(12);
  border-radius: toRem(4);
  width: 100%;
  cursor: pointer;
}

.settingsPanel {
  display: flex;
  justify-content: space-around;
  margin: toRem(8) 0;
}

.settingsButton {
  display: flex;
  align-items: center;
  background: none;
  border: toRem(1) solid #000;
  border-radius: toRem(100);
  cursor: pointer;
  font-size: toRem(16);
  gap: toRem(2);
  transition: background-color 0.3s, color 0.3s;
  color: #000;
}

.noGap {
  gap: 0;

  * + * {
    margin-left: toRem(-2);
  }
}

.enabled {
  background-color: #00000022;
}

.recentlyAdded {
  gap: toRem(8);
}