.body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: $text-color;
  background-color: $background-color;
  max-height: 100dvh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  padding: 0;
  max-width: toRem(1200);
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
